@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Racing Sans One";
    src: url("../fonts/RacingSansOne-Regular.ttf");
}


.cursor {
    border-right: 2px solid;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
